@font-face {
    font-family: "PT Sans Narrow";
    src: url("fonts/web/ptsansnarrow.woff2"),
    url("fonts/web/ptsansnarrow.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: url("fonts/web/ptsansnarrowbold.woff2"),
    url("fonts/web/ptsansnarrowbold.woff");
    font-weight: 700;
    font-style: normal;
}

/* variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;

    --special: #663d15;
}

/* General */

.page-body {
min-width: 960px;
margin: 0;
padding: 0;
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: 700;
color: var(--basic-white);
text-transform: uppercase;
background-color: var(--basic-black);
/* background-image: ;
background-position: top center;
background-repeat: no-repeat; */
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;    
}

/* main-navigation */

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);
    background-color: transparent;
}

.main-navigation-wrapper{
    background-color: var(--basic-black);
}

.site-navigation{
    list-style: none;
}

.site-navigation-current a:not([href]){
    background-color: var(--basic-black);
}

.site-navigation a, 
.user-navigation a{
    color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus, 
.user-navigation a:hover,
.user-navigation a:focus{
    background-color: var(--basic-extra-dark);
}

/* Features */

.feature-list{
list-style: none;
}

/* центрируем заголовки и текст */
.feature-item{
    text-align: center; 
}

.feature-item h3 {
    font-size: 30px;
    line-height: 42px;
}

/* index-columns */

.index-columns{
    color: var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url('image/background-white.jpg');
    background-position: center;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

/* News */

.news-list{
    list-style: none;
}

/* Gallery */

.gallery-content{
    background-color: var(--basic-dark);
    border: 7px solid var(--basic-white);
}

/* button */

.button{
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-black);
    border: none;
}

.button:hover,
.button:focus
.button:active{
    background-color: var(--special);
}

.button.disabled,
.button:disabled{
    /* cursor: default; */
    opacity: 0.5;
    background-color: var(--basic-black);
}

/* Contacts */

.contacts-phone{
    color: inherit;
}

/* Appointment */

.appointment-item input{
    font: inherit;
    background-color: transparent;
    border: 2px solid var(--basic-black);
}

.appointment-item input:focus{
    border-color: var(--special);
}

/* Main footer */

.main-footer{
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
    background-image: url(image/background-black.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a{
    color: var(--basic-white);
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus{
    text-decoration: none;
}

.footer-social{
    text-align: center;
}

.footer-social ul{
list-style: none;
}

.footer-social h2{
    font-size: 14px;
}

/* Social buttons */

.social-button{
    color: inherit;
}

.social-button:hover,
.social-button:focus{
    background-color: var(--basic-white);
}

.footer-copyrigth .button:hover,
.footer-copyrigth .button:focus{
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.modal{
    color:var(--basic-black);
    background-color: var(--basic-extra-light);
    background-image: url(image/background-white.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2{
    font-size: 30px;
    line-height: 42px;
}

/* Login form */

.login-form input[type='email'],
.login-form input[type='password']{
    font: inhertit;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-extra-light);
    border: 2px solid var(--basic-black);
}

.login-form input:focus{
    border-color: var(--special);
}

.login-icon-user{
    background-image: url(SVG/user.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}
.login-icon-password{
    background-image: url(SVG/lock.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}
.restore{
    color: var(--basic-black);
    text-decoration: underline;
}

.restore:hover,
.restore:focus{
    text-decoration: none;
}